
h1, h2, h3, h4, h5, h6 {
    font-family: 'Didact Gothic', sans-serif;
}
html{
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    color: #424242;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    line-height: 30px;
    overflow-y: scroll;
}

/********************* Container ********/
.container{
  display: grid;
  justify-content: center;

 }

.nav_bar{
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.nav_bar li{
  text-decoration: none;
  list-style: none;
}

/*** change font nav bar ***/
.nav_bar li a {
    color: #424242;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

/*** hover for font nav-bar***/
.nav_bar li a:hover{
  color: #03A9F4;
  border-bottom: 5px solid #03A9F4;
  text-decoration: none;
}
/***8******* coontact me *******/
.contact_me{
  display: grid;
  grid-template-columns: 1fr;
}

.contact_me h1{
  font-size: 5em;
}


a{color: #03A9F4;
    text-decoration: none;
    transition: 0.3s;
}

.contact_me a:hover{
   color: #03A9F4;
  border-bottom: 5px solid #03A9F4;
  text-decoration: none;
}

/********scale fit to mobile ********/
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (max-width: 600px) {
  .container{
    display: grid;
    grid-template-columns: 1fr;

  }
  .nav_bar{
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact_me {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .contact_me h1{
    font-size: 2em;
  }
}











