
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="{% static '/css/contact.css' %}">
</head>
<body>
	 <div class="container">
          <ul class="nav_bar">
            <li><a href="{% url 'index' %}">DARAYUTH HANG</a>

            </li>

            <li><a href="{% url 'project' %}">PROJECTS</a>

            </li>

            <li><a href="#">ON MOBILE & WEB</a>

            </li>

            <li><a href="#">PHOTOS</a>

            </li>

            <li><a href="#">CONTACTS</a>

            </li>
          </ul>



		 <div class="contact_me">
		 	<h1>Contact Me</h1>
		 	<p>Need to Reach me Send me an email
				<a href="">Darayuthhang12@gmail.com</a>
		 	</p>

		 	<p>Anything related to Android
			<a href="">Darayuthhang12@gmail.com</a>
		 	</p>
		 	<p>Anything related to Web Application
			<a href="">Darayuthhang12@gmail.com</a>
		 	</p>


		 </div>






       </div>   
</body>
</html>