
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static '/css/project.css' %}">
    <title></title>
  </head>
  <body>
	<div class="container">
          <ul class="nav_bar">
            <li><a href="{% url 'index' %}">DARAYUTH HANG</a>

            </li>

            <li><a href="{% url 'project' %}">PROJECTS</a>

            </li>

            <li><a href="#">ON MOBILE & WEB</a>

            </li>

            <li><a href="#">PHOTOS</a>

            </li>

            <li><a href="{% url 'contact' %}">CONTACTS</a>

            </li>
          </ul>

	<!---- project contents ----->	<!---- project contents ----->	<!---- project contents ----->

	<div class="project_content">
		<div class="content1">
			
			<h1>Projects</h1>
			<p>
				Here are some projects that I have worked on over the past few years. 
				
			</p>
			<p>
				All of them are free and the code is open-source located at GitHub. <a href="#">Github</a>	
			</p>
				
		</div>
	</div>
	

	<!---- Mobile Project 1 ----><!---- Mobile Project 1 ----><!---- Mobile Project 1 ---->


	<div class="project_content">
		<div class="content2">
			
			<h1>Android Mobile App</h1>

			<h3>
					<a href="#">
					PersonalJournal
				</a>
			</h3>
			
			<p>
			 PersonalJournal is mobile application that allow the user to 
			 write, and permanently save, 
				<br>
			 and modify their journal in real time.
			 <a href="https://play.google.com/store/apps/details?id=com.darayuth.personaljournalapp">Android Mobile App</a> 
			</p>
			
				
		</div>
	</div>


	<!---- Mobile Project 2 ----><!---- Mobile Project 2 ----><!---- Mobile Project 2 ---->	

	
	<div class="project_content">
		<div class="content3">

			<h3>
				<a href="https://play.google.com/store/apps/details?id=com.darayuth.randompicture">
					RandomImage
				</a>
			</h3>
			
			<p>
			RandomImage is mobile application that allow users to enjoy images in many different
			<br> categories from unsplash.com website on their mobile phone in real time. 
				
			 <a href="https://play.google.com/store/apps/details?id=com.darayuth.randompicture">Android Mobile App</a> 
			</p>
			
				
		</div>
	</div>




	
	<!---- Mobile Project 3 ----><!---- Mobile Project 3 ----><!---- Mobile Project 3 ---->	

	
	<div class="project_content">
		<div class="content4">

			<h3>
				<a href="https://play.google.com/store/apps/details?id=com.darayuth.compoundinterest">
					CompoundInterestCalculator
				</a>
			</h3>
			
			<p>
			CompoundInterestCalculator is mobile application to calculate their future value <br>interests in term of Compound, Continuous, and Simple interest according to <br>the formula by using MVP design pattern.
				
			 <a href="https://play.google.com/store/apps/details?id=com.darayuth.compoundinterest">Android Mobile App</a> 
			</p>
				
		</div>
	</div>

	<!----- end of mobile appp ---->


	<!---- web application ---><!---- web application ---><!---- web application --->

	<div class="project_content">
		<div class="content5">
			
			<h1>WEB App</h1>

			<h3>
					<a href="https://github.com/darayuthhang/Snake_Game_JS">
					SnakeGame
				</a>
			</h3>
			
			<p>
			 SnakeGame is webapplication that allow the user to 
			 play snake on game on the browser
				<br>
			 <a href="https://github.com/darayuthhang/Snake_Game_JS">WEB App</a> 
			</p>
			
				
		</div>
	</div>


	<div class="project_content">
		<div class="content6">
			
			<h1>WEB App</h1>

			<h3>
					<a href="https://darayuthhang.github.io/">
					Donut Shop
				</a>
			</h3>
			
			<p>
			 Donute website template using google map Api.
				<br>
			 <a href="https://darayuthhang.github.io/">WEB App</a> 
			</p>
			
				
		</div>
	</div>
	

	<!---- web application end ---><!---- web application end ---><!---- web application end --->
<!----- end container ----->
	</div>
  </body>
</html>
